<% provide(:title, 'Leaderboard') %>
<h1>Welcome to Leaderboard</h1>
<ol type="1">
<% for genre in @genres %>
  <li><%= genre.content %><ul>
  <div class="list-group">
  <% for task in genre.subgenres %>
	<li class="list-group-item list-group-item-action"><%= link_to task.cont, "/leaderboard/#{task.id}"  %></li>
  <% end %>
  </div>
  </ul>
  </li>
<% end %>
</ul>

