<% provide(:title, 'Leaderboard') %>
<h1>Welcome to Leaderboard</h1>
<ol type="1">
<div class="genres">
<% for genre in @genres %>
  <li><%= genre.content %>
  <ul>

  <% for task in genre.subgenres %>
    <%= link_to task.cont , "/leaderboard/#{task.id}" ,class: "task list-group-item list-group-item-action", style: "width:12%;font-size: large;" %>
  <% end %>
  </ul>
  </li>
<% end %>
</div>
</ol>
