<% provide(:title, 'All users') %>
<h1>All Genres with sublisting</h1>
<ol type="1">
<% for genre in @genres %>
  <li>
  <%= genre.content %>
  <% if current_user.admin?%>
  <%= link_to "delete", genre, method: :delete, data: { confirm: "You sure?" } %></li>
  <% end %>
  <ul>
  <% for task in genre.subgenres %>
	<li><%= link_to task.cont, "/leaderboard/#{task.id}"  %></li>
  <% end %>
  </ul>
  </li>
<% end %>
</ul>

