<table class="table table-striped table-hover">
<tr>
	<th class="danger">User name</th>
	<th>Score</th>
</tr>
<% for t in Leaderboard.where(subgenre_id:$k) %>
  <tr>
  <td><%= User.find(t.user_id).name %> </td>
  <td> <%= t.score %></td>
  </tr>
<% end %>
</table>