<footer class="footer">
  <small>
    Quiz App made with <a href="http://gorails.com/">Ruby on Rails</a>
    by <a href="http://web.iiit.ac.in/">Kunal Garg</a>
  </small>
  <p ><small style="float: right;">Copyright© 2017 Kunal Garg. All rights reserved.</small></p>
</footer>