<footer class="footer">
  <small>
    Quiz App made with <a href="http://gorails.com/">Ruby on Rails</a>
    by <a href="http://web.iiit.ac.in/">Kunal Garg</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>